.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.search-input {
    width: 40vw;
    height: 25px;
    border-radius: 5px;
}

.search-btn {
    height: 31px;
    width: 80px;
    background-color: rgb(27, 76, 167);
    color: white;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: white;
    color: rgb(27, 76, 167);
    transition: .5s;
}