.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    background-color: rgb(148, 214,244)
}
.title {
    color: rgb(27, 76, 167)
}

.image {
    width: 100px;
}

.stock-logo {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(27, 76, 167);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.links:hover {
    background-color: white;
    color: rgb(27, 76, 167);
    transition: .3s;
}

.tickers {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}