.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    background-color: rgb(148, 214,244)
}

.image {
    width: 100px;
}

.stock-logo {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}